@font-face {
    font-family: fontAslina;
    src: url(/Assets/fonts/Alsina\ Ultrajada.TTF);
  }

.mainBody{
    z-index: 0;
    margin-top: 24px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(250,250,250,0.9);
    color: black;
    border-radius: 45px;
}

.textBlock{
    margin-top: 12px;
    text-indent: 40px;
}

.tab { margin-left: 40px; }

h1 {
    font-family: fontAslina;
}

.centerText{
    text-align: center;
}


.navbarMain{
    overflow: auto;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-image: url(/Assets/Img/Enterra\ Header.jpeg);
    background-position: center -80px;
    background-size: 100% auto;
    
}

#header{
    font-family: fontAslina;
    font-size: 36px;
    color: white;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}

.headerLink {
    overflow: auto;
    float: left;
    padding: 24px;
    color: white;
    text-decoration: none;
}

.headerLink a{
    overflow: auto;
    float: left;
    color: white;
    text-decoration: none;
}

.headerLink a:hover{
    color: lightblue;
    text-decoration: underline;
}

.fade-in {
    animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.halfColumn{
    float: left;
    width: 50%;
}

.mainBodyText{
    
    padding: 5%;
    font-family:Arial, Helvetica, sans-serif;
}

.rows, .rowBig, .rowSmall, .rowMed{
    float: left;
}

.rowBig{
    width: 70%;
}

.rowSmall{
    width:30%;
}

.rowMed{
    width: 50%;
}

.clearFloat, .rows:after{
    clear: both;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/Assets/Img/bckg.jpeg);
    background-attachment: fixed;
    background-size: cover;
}